html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

input {
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: block;
    width: 100%;
}

input:invalid {
    border: 2px solid red;
}

input:focus {
    outline: none;
    border: 2px dashed peachpuff;
    box-shadow: 0px 3px 10px black;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.side-bar {
    flex-grow: 1;
    background-image: url("gustavo-zambelli-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-bar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0,0,0,0.1);
    align-self: stretch;
    margin-top: 30%;
}

#odin-logo {
    width: 20%;
    height: auto;
    margin: 10px;
    min-height: 100px;
    min-width: 75px;
}

p {
    color: white;
    font-size: 72px;
    margin: 0px;
}

.side-bar-footer {
    color: white;
    margin-bottom: 10px;
}

.sign-up-sheet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0px;
    flex-grow: 2;
    height: 100vh;
}

.sign-up-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 35vh;
}

.sign-up-header, .sign-up-footer {
    background-color: rgb(250,249,246);
}

.sign-up-footer, .sign-up-form {
    padding-top: 10px;
}
.sign-up-footer {
    flex-grow: 1;
    padding-top: 30px;
}

.sign-up-form {
    background-color: white;
    box-shadow: 0px 3px 15px rgb(0,0,0,0.2);
    padding-bottom: 30px;
}

.sign-up-header, .sign-up-form, .sign-up-footer {
    position: relative;
}

h1, h2, h3, form, button {
    margin-left: 30px;
}

h1 {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    width: 25%;
    min-width: 200px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

button {
    padding: 10px;
    background-color: rgba(253,218,176,255);
    border-radius: 5px;
    border: 0px;
    box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
    width: 20%;
    min-width: 200px;
    height: 10%;
    min-height: 2em;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: rgba(253,218,176,255);
}

span {
    margin-top: 100px;
}