html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

input {
    padding: 5px;
    border-radius: 5px;
    border-color:grey;
    display: block;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.side-bar {
    flex-grow: 1;
    background-image: url("gustavo-zambelli-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-bar-footer {
    color: white;
    margin-bottom: 10px;
}

.sign-up-sheet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    flex-grow: 2;
}

.sign-up-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 45vh;
}

.sign-up-header, .sign-up-footer {
    background-color: blue;
}

.sign-up-form {
    background-color: pink;
    align-self: stretch;
    padding: 10px 0px;
    margin-top: -10px;
}

.sign-up-header, .sign-up-form, .sign-up-footer {
    flex-basis: 1;
    max-width: 75vw;
    position: relative;
}

h1, h2, form {
    margin-left: 30px;
}

h1 {
    width: 75%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    width: 25%;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: green;
}